* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background: hsl(218, 28%, 13%);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #fff;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width:1000px;
    margin: 0 auto;
}
.card{
    width: 350px;
    height: 280px;
    margin: 15px;
    border-radius: 1.5%;
    padding: 20px 30px;
    position: relative;
    background: hsl(219, 30%, 18%);
    box-shadow: 10px 20px 25px #1a202e;
    transition: 0.5s;
}
.card img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: bottom;
    border: 2px;
    top: -12px;
    left: 10px;
}
.card p{
    font-size: 14px;
    margin-top: 40px;
    margin-bottom: 25px;
}
.card h4{
    font-weight: 700;
    margin-bottom: 5px;
}
.card h6{
    font-weight: 400;
    font-size: 16px;
    color: #b2bec3;
}
 .card:hover{
    transform: scale(1.2);
    z-index: 10000;
 }
 
 @media(max-width: 768px)
 {
    .cards{
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card{
        margin: 40px 0;
    }

 }